<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
default-autowire="byName"> 

  <context:component-scan base-package="com.bbs"/>
  <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
       <property name="supportedMediaTypes">
           <list>
               <value>text/html;charset=UTF-8</value>
           </list>
       </property>
  </bean>
  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
       <property name="messageConverters">
           <list>
               <ref bean="mappingJacksonHttpMessageConverter" /><!-- json转换器 -->
           </list>
       </property>
  </bean>
  <bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">   
       <property name="maxUploadSize">  
            <value>1240000</value>  
        </property>  
        <property name="maxInMemorySize">  
            <value>124000</value>  
        </property>
  </bean>
  <mvc:annotation-driven/>  
  <mvc:resources mapping="/statics/**/**/**/" location="/statics/" />
  <mvc:resources mapping="/images/**/**" location="/images/" />
  <mvc:interceptors>
   <mvc:interceptor>
	  <mvc:mapping path="/web/**" />
	  <mvc:mapping path="/survey/**" />
	  <bean class="com.bbs.controller.common.inter.UserInterceptor" />
	</mvc:interceptor>
	<mvc:interceptor>
	  <mvc:mapping path="/**/vf/**" />
	  <bean class="com.bbs.controller.common.inter.BBSUserInterceptor" />
	</mvc:interceptor>
   </mvc:interceptors>
  
  
  <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
	  <property name="templateLoaderPath" value="/WEB-INF/freemark/" />
	  <property name="defaultEncoding" value="utf-8" />
	  <property name="freemarkerSettings">
		   <props>
			    <prop key="template_update_delay">10</prop>
			    <prop key="locale">zh_CN</prop>
			    <prop key="datetime_format">yyyy-MM-dd</prop>
			    <prop key="date_format">yyyy-MM-dd</prop>
			    <prop key="number_format">#.##</prop>
		    </props>
	  </property>
	
	  <property name="freemarkerVariables">
		<map>
       <!-- 
			<entry key="resRoot" value="/statics/resources" />
			<entry key="futRoot" value="" />
			<entry key="realImgPath" value="E:/www2/zhangt-0b44449e649aee1e0164b519f6cd054b/webapp/images/" />
			<entry key="resultImgPath" value="https://cloudfy.cn/images/" />
		 -->	
		 
			<entry key="resRoot" value="/BBS/statics/resources" />
			<entry key="futRoot" value="/BBS" />
			<entry key="realImgPath" value="E:/www2/zhangt-0b44449e649aee1e0164b519f6cd054b/webapp/images/" />
			<entry key="resultImgPath" value="https://cloudfy.cn/images" />
		
		</map>
	  </property>
  </bean>
  
  <!-- 配置验证码 -->
  <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <constructor-arg>
                    <props>
                        <!-- 图片边框 -->
                        <prop key="kaptcha.border">no</prop>
                        <!-- 图片宽度 -->
                        <prop key="kaptcha.image.width">95</prop>
                        <!-- 图片高度 -->
                        <prop key="kaptcha.image.height">45</prop>
                        <!-- 验证码背景颜色渐变，开始颜色 -->
                        <prop key="kaptcha.background.clear.from">248,248,248</prop>
                        <!-- 验证码背景颜色渐变，结束颜色 -->
                        <prop key="kaptcha.background.clear.to">248,248,248</prop>
                        <!-- 验证码的字符 -->
                        <prop key="kaptcha.textproducer.char.string">0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</prop>
                        <!-- 验证码字体颜色 -->
                        <prop key="kaptcha.textproducer.font.color">0,0,255</prop>
                        <!-- 验证码的效果，水纹 -->
                        <prop key="kaptcha.obscurificator.impl">com.google.code.kaptcha.impl.WaterRipple</prop>
                        <!-- 验证码字体大小 -->
                        <prop key="kaptcha.textproducer.font.size">35</prop>
                        <!-- 验证码字数 -->
                        <prop key="kaptcha.textproducer.char.length">4</prop>
                        <!-- 验证码文字间距 -->
                        <prop key="kaptcha.textproducer.char.space">2</prop>
                        <!-- 验证码字体 -->
                        <prop key="kaptcha.textproducer.font.names">new Font("Arial", 1, fontSize), new Font("Courier", 1, fontSize)</prop>
                        <!-- 不加噪声 -->
                        <prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
  </bean>

  <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
	  <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
	  <property name="suffix" value=".html" />
	  <property name="contentType" value="text/html;charset=utf-8" />
	  <property name="requestContextAttribute" value="request" />
	  <property name="exposeRequestAttributes" value="true" />
	  <property name="exposeSessionAttributes" value="true" />
	  <property name="exposeSpringMacroHelpers" value="true" />
	  <property name="order" value="0"/>
	  
  </bean>
  
 
	<bean id="viewResolverCommon" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/freemark/"/>  
    	<property name="suffix" value=".jsp"/><!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑  -->
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.InternalResourceView</value>
		</property>
		<property name="order" value="1"/>
	</bean>
	

  <bean id="applicationContextUtil" class="com.bbs.controller.common.ApplicationContextUtil"></bean> 
 
 
</beans>